*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: #064DA7;
}
.container {
  width: 40%;
  min-width: 450px;
  position: relative;
  min-height: 100px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background: #d8e6fa;
  border-radius: 10px;
}
#newtask {
  position: relative;
  padding: 30px 20px;
}
#newtask input {
  width: 75%;
  height: 45px;
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  border: 2px solid #0747A6;
  padding: 12px;
  color: #111111;
  font-weight: 500;
  position: relative;
  border-radius: 5px;
}

#newtask input:focus {
  outline: none;
  border-color: #0074F7;
}
#newtask button {
  position: relative;
  float: right;
  width: 20%;
  height: 45px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  background-color:#0567AF ;
  border: none;
  color: #ffffff;
  cursor: pointer;
  outline: none;
}
#newtask button:hover{
  background-color: #0747A6;
}
#tasks {
  background-color: #ffffff;
  padding: 30px 20px;
  margin-top: 10px;
  border-radius: 10px;
  width: 100%;
  position: relative;
  overflow: scroll;
  max-height: 450px;
}

.task {
  background-color:#e6eef9 ;
  height: 50px;
  margin-bottom: 8px;
  padding: 5px 10px;
  display: flex;
  border-radius: 5px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #89b7fc ;
  cursor:context-menu;
  transition: 0.2s;
}
.task:hover{
  background: #aecbf5;
}
.task span {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  font-weight: 400;
}
.task button {
  background-color: #0567AF;
  color: #ffffff;
  height: 100%;
  width: 40px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none;
}
.task button:hover{
  background-color: #fff;
  color: #0567AF;
}
